<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div *ngIf="mensagem_sucesso" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Sucesso!</strong> {{mensagem_sucesso}}
    <button type="button" class="btn-close" aria-label="Close" (click)="limparMensagens()"></button>
</div>

<div *ngIf="mensagem_erro" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Erro!</strong> {{mensagem_erro}}
    <button type="button" class="btn-close" aria-label="Close" (click)="limparMensagens()"></button>
</div>

<div class="row justify-content-md-center">
    <div class="col-md-10 mt-3">
        <div class="card border-secundary mb-3">
            <div class="card-header">
                <h3>Atualização dos dados do Veiculo</h3>
            </div>
            <div class="card-body">
                <h5 class="card-subtitle mb-2 text-muted">Preencha os dados referente ao veiculo abaixo:</h5><br />          
                <form [formGroup]="formEdicao" (ngSubmit)="onSubmit()" class="card-text">

                    <input type="hidden" formControlName="idVeiculo" />
                                      
                    <div class="col-md-6">
                        <label >Modelo do Veiculo</label>
                        <input type="text" class="form-control" formControlName="nome" placeholder="Digite o novo modelo"/>
                        <span class="text-danger" *ngIf="form.nome.touched && form.nome.invalid">
                            <span *ngIf="form.nome.errors.required">
                                Por favor, informe o modelo.
                            </span>
                        </span>
                    </div>
                    <div class="col-md-6">
                        <label>Valor do Veiculo</label>
                        <input type="text" class="form-control" formControlName="preco" placeholder="digite o novo valor" />
                        <span class="text-danger" *ngIf="form.preco.touched && form.preco.invalid">
                            <span *ngIf="form.preco.errors.required">
                                Por favor, informe o novo valor.
                            </span>
                        </span>
                    </div>
                    <div class="col-md-6">
                        <label>Ano de Fabricação e Modelo</label>
                        <input type="text" class="form-control" formControlName="anoVeiculo" placeholder="digite ano de fabricação e modelo" 
                        mask="0000 - 0000 "/>
                        <span class="text-danger" *ngIf="form.anoVeiculo.touched && form.anoVeiculo.invalid">
                            <span *ngIf="form.anoVeiculo.errors.required">
                                Por favor, informe o ano de fabricação e modelo.
                            </span>
                        </span>
                    </div>
                    <div class="col-12">
                        <br />
                        <input type="submit" value="Alterar" class="btn btn-success" [disabled]="!formEdicao.valid" />
                    </div>
                </form>

            </div>
        </div>

    </div>

</div>