<nav class="navbar navbar-expand-lg bg-black" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand"><img src="../assets/imagens/Logo.png" title="Nomarc" class="rounded float-left" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink=""
          [class.disabled]="isLoggedIn"
          [attr.tabindex]="isLoggedIn ? -1 : null"
          [attr.aria-disabled]="isLoggedIn ? true : null"
          >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="pedido-cadastro">Pedidos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cadastros
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="cliente-cadastro">Clientes</a></li>
            <li><a class="dropdown-item" routerLink="pedido-cadastro">Pedidos</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="veiculo-cadastro">Veículos</a></li>
            <li><a class="dropdown-item" routerLink="opcional-cadastro">Opcionais</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Consultas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="cliente-consulta">Clientes</a></li>
            <li><a class="dropdown-item" routerLink="pedido-consulta">Pedidos</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="veiculo-consulta">Veículos</a></li>
            <li><a class="dropdown-item" routerLink="opcional-consulta">Opcionais</a></li>
          </ul>
        </li>
      </ul>
      <div *ngIf="isLoggedIn" class="d-flex align-items-center gap-3">
          <span class="nav-link py-1"><small>Bem vindo! {{usuario}}</small></span>
          
          <button type="button" class="btn btn-outline-danger btn-sm" (click)="logout()">
              Logout
          </button>   
      </div>
    </div>
  </div>
</nav>

<div class="container-mt-3">
  <router-outlet></router-outlet>
</div>